<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome</h1>
        <form method="post" action="index.html">
            <h2>The Form</h2>
            <div class="column-container">
                <div class="columns">
                     <label>FirstName</label><br>
                     <input type="text" placeholder="firstname" name="firstname">
                </div>
                <div class="columns">
                    <label>MiddleName</label><br>
                    <input type="text" placeholder="firstname" name="middlename">
                </div>
                <div class="columns">
                    <label>LastName</label><br>
                    <input type="text" placeholder="firstname" name="middlename">
                </div>                
             </div>
             <div class="column-container">
                <div class="columns">
                     <label>Age</label><br>
                     <input type="number" min="18" max="100"  name="age">
                </div>
                <div class="columns">
                    <label>Email</label><br>
                    <input type="email" placeholder="firstname" name="middlename">
                </div>
                <div class="columns">
                    <label>Phone Number</label><br>
                    <input type="text" placeholder="firstname" name="phone number">
                </div>                
             </div>
             <input type="submit" name="Submit" value="Submit">
        </form>

    </div>
</body>
</html>